<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="sideNavBar.css" />
    <link rel="stylesheet" href="headerNavBar.css" />
    <link rel="stylesheet" href="homePageToLet.css" />
    <link rel="stylesheet" href="profile.css" />
    <link href="output.css" rel="stylesheet" />
    <link rel="stylesheet" href="confirmToletSeat.css" />
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="output.css">
  </head>

  <body>
    <!-- header nav bar -->
    <%- include("layout/headerNavBar") %> <%- include("layout/sideNavBar") %>
    <div class="contentBox">


      <div class="contentBoxNavBar">
        <div class="contentBoxNavBar1">
          <div class="text-3xl font-bold text-[#00b10f] hover:cursor-pointer" onclick="window.location.href='/homePageToLet'">ToLet</div> >>
          <div class="navElement center" id="navElement2">
            <div><img class="h-10 w-10" src="images/viewPost.png" alt=""></div>
            <div><a href="/totalPostAvailable">See post</a></div>
          </div>
          |
          <div class="navElement center" id="navElement2">
            <div><img class="h-8 w-8" src="images/doPost.png" alt=""></div>
            <div><a href="/postShare">&nbsp;Do post</a></div>
          </div>
          |
          <div class="navElement center" id="navElement3">
            <div><img class="h-10 w-10" src="images/find.png" alt=""></div>
            <div><a href="/homePageToLet" style="transition: transform 0.3s ease"
              >Quick find</a
            ></div>
          </div>
        </div>
        <div class="contentBoxNavBar2">


                <!-- confirm button  -->
                <div
                class="w-[98%] h-[70px] flex items-center justify-end pl-2 gap-3 md:w-[98%] md:h-[70px] md:flex md:items-center md:justify-end md:pl-2 md:gap-3"
                id="profile-box2"
                >
                <button
              class="btn btn-default text-green-600"
              id="saveButton<%= postInfo._id %>"
              onclick="saveThisPost('To-let','<%= student._id %>','<%= postInfo._id %>')"
            >
              <%= student.savedPosts.includes(postInfo._id) ? 'Saved' : 'Save it' %>
            </button>
                <button
                  class="btn btn-default text-green-600"
                  id="confirmRequestSeatButton<%= postInfo._id %>"
              onclick="confirmRequestSent('To-let','<%= student._id %>','<%= postInfo._id %>')"
                >
                  Request for Confirm
                </button>
                </div>
        </div>
      </div>



      <div
        class="bg-[#e0e0e0] min-h-[100vh] flex items-center flex-col md:bg-[#EFEFEF] md:flex md:items-center md:flex-col"
      >
        

        <!-- info part  -->

        <div class="box mt-9">
          <div class="boxHead center text-3xl shadow text-green-500">Seat Information</div>
          <div class="boxContent">
            <div class="contentBoxSmaller border flex">
              <div class="h-1/1 w-1/3 center"><img class="h-[70px] w-[70px]" src="images/bed.png" alt=""></div>
              <div class="h-1/1 w-2/3">
                <div
                class="h-[60%] text-[#616161] text-2xl flex items-center pl-5 md:h-[60%] md:text-[#616161] md:text-2xl md:flex md:items-center md:pl-5"
              >
                Total Seat Available
              </div>
              <div
                class="h-[40%] text-black text-3xl flex pl-5 md:h-[40%] md:text-black md:text-3xl md:flex md:pl-5"
              >
                <%= postInfo.seat %>
              </div>
              </div>
            </div>

            <div class="contentBoxSmaller border flex">
              <div class="h-1/1 w-1/3 center"><img class="h-[70px] w-[70px]" src="images/bed.png" alt=""></div>
              <div class="h-1/1 w-2/3">
                <div
                class="h-[60%] text-[#616161] text-2xl flex items-center pl-5 md:h-[60%] md:text-[#616161] md:text-2xl md:flex md:items-center md:pl-5"
              >
                In as Many Rooms
              </div>
              <div
                class="h-[40%] text-black text-3xl flex pl-5 md:h-[40%] md:text-black md:text-3xl md:flex md:pl-5"
              >
              <%= postInfo.numberOfRoom %>
              </div>
              </div>
            </div>

            <div class="contentBoxSmaller border flex">
              <div class="h-1/1 w-1/3 center"><img class="h-[70px] w-[70px]" src="images/bed.png" alt=""></div>
              <div class="h-1/1 w-2/3">
                <div
                class="h-[60%] text-[#616161] text-2xl flex items-center pl-5 md:h-[60%] md:text-[#616161] md:text-2xl md:flex md:items-center md:pl-5"
              >
                Room Capacity
              </div>
              <div
                class="h-[40%] text-black text-3xl flex pl-5 md:h-[40%] md:text-black md:text-3xl md:flex md:pl-5"
              >
              <%= postInfo.roomCapacity %>
              </div>
              </div>
            </div>

            <div class="contentBoxSmaller border flex">
              <div class="h-1/1 w-1/3 center"><img class="h-[70px] w-[70px]" src="images/bed.png" alt=""></div>
              <div class="h-1/1 w-2/3">
                <div
                class="h-[60%] text-[#616161] text-2xl flex items-center pl-5 md:h-[60%] md:text-[#616161] md:text-2xl md:flex md:items-center md:pl-5"
              >
                Each Seat Rent
              </div>
              <div
                class="h-[40%] text-black text-3xl flex pl-5 md:h-[40%] md:text-black md:text-3xl md:flex md:pl-5"
              >
              <%= postInfo.rent %> TK
              </div>
              </div>
            </div>

            <div class="contentBoxSmaller border flex">
              <div class="h-1/1 w-1/3 center"><img class="h-[70px] w-[70px]" src="images/bed.png" alt=""></div>
              <div class="h-1/1 w-2/3">
                <div
                class="h-[60%] text-[#616161] text-2xl flex items-center pl-5 md:h-[60%] md:text-[#616161] md:text-2xl md:flex md:items-center md:pl-5"
              >
                To-let from the Month
              </div>
              <div
                class="h-[40%] text-black text-3xl flex pl-5 md:h-[40%] md:text-black md:text-3xl md:flex md:pl-5"
              >
              <%= postInfo.entryMonth %>
              </div>
              </div>
            </div>

            <div class="contentBoxSmaller border flex flex-wrap">
              <div class="h-1/1 w-1/3 center"><img class="h-[70px] w-[70px]" src="images/bed.png" alt=""></div>
              <div class="h-1/1 w-2/3">
                <div
                class="h-[60%] text-[#616161] text-2xl flex items-center pl-5 md:h-[60%] md:text-[#616161] md:text-2xl md:flex md:items-center md:pl-5"
              >
                Room at Floor
              </div>
              <div
                class="h-[40%] text-black text-3xl flex pl-5 md:h-[40%] md:text-black md:text-3xl md:flex md:pl-5"
              >
              <%= postInfo.floorNumber %>
              </div>
              </div>
            </div>
          </div>
        </div>

        <!-- location -->
        <div class="box mt-9">
          <div class="boxHead center text-3xl shadow text-green-500">Location</div>
          <div class="boxContent">
            <div class="contentBoxSmaller border flex">
              <div class="h-1/1 w-1/3 center"><img class="h-[70px] w-[70px]" src="images/location.png" alt=""></div>
              <div class="h-1/1 w-2/3">
                <div
                class="h-[60%] text-[#616161] text-2xl flex items-center pl-5 md:h-[60%] md:text-[#616161] md:text-2xl md:flex md:items-center md:pl-5"
              >
                District
              </div>
              <div
                class="h-[40%] text-black text-3xl flex pl-5 md:h-[40%] md:text-black md:text-3xl md:flex md:pl-5"
              >
              <%= postInfo.locationDistick %>
              </div>
              </div>
            </div>

            <div class="contentBoxSmaller border flex">
              <div class="h-1/1 w-1/3 center"><img class="h-[70px] w-[70px]" src="images/location.png" alt=""></div>
              <div class="h-1/1 w-2/3">
                <div
                class="h-[60%] text-[#616161] text-2xl flex items-center pl-5 md:h-[60%] md:text-[#616161] md:text-2xl md:flex md:items-center md:pl-5"
              >
                Sub-District / Village
              </div>
              <div
                class="h-[40%] text-black text-3xl flex pl-5 md:h-[40%] md:text-black md:text-3xl md:flex md:pl-5"
              >
              <%= postInfo.locationVillage %>
              </div>
              </div>
            </div>

            <div class="contentBoxSmaller border flex">
              <div class="h-1/1 w-1/3 center"><img class="h-[70px] w-[70px]" src="images/location.png" alt=""></div>
              <div class="h-1/1 w-2/3">
                <div
                class="h-[60%] text-[#616161] text-2xl flex items-center pl-5 md:h-[60%] md:text-[#616161] md:text-2xl md:flex md:items-center md:pl-5"
              >
                Distance from University
              </div>
              <div
                class="h-[40%] text-black text-3xl flex pl-5 md:h-[40%] md:text-black md:text-3xl md:flex md:pl-5"
              >
              <%= postInfo.distance %> km
              </div>
              </div>
            </div>

            <div class="contentBoxSmaller border flex">
              <div class="h-1/1 w-1/3 center"><img class="h-[70px] w-[70px]" src="images/location.png" alt=""></div>
              <div class="h-1/1 w-2/3">
                <div
                class="h-[60%] text-[#616161] text-2xl flex items-center pl-5 md:h-[60%] md:text-[#616161] md:text-2xl md:flex md:items-center md:pl-5"
              >
                Reaching Time Required
              </div>
              <div
                class="h-[40%] text-black text-3xl flex pl-5 md:h-[40%] md:text-black md:text-3xl md:flex md:pl-5"
              >
              <%= postInfo.timeRequire %> minute (maximum)
              </div>
              </div>
            </div>


            <div class="contentBoxSmaller border flex">
              <div class="h-1/1 w-1/3 center"><img class="h-[70px] w-[70px]" src="images/location.png" alt=""></div>
              <div class="h-1/1 w-2/3">
                <div
                class="h-[60%] text-[#616161] text-2xl flex items-center pl-5 md:h-[60%] md:text-[#616161] md:text-2xl md:flex md:items-center md:pl-5"
              >
                Google Map Link
              </div>
              <div
                class="h-[40%] text-black text-3xl flex justify-between  pl-5 md:h-[40%] md:text-black md:text-3xl md:flex md:pl-5 pr-5"
              >
                <div class="w-4/5 h-[60%] overflow-hidden" id="copyGoogleMapLink"><%= postInfo.googleMapLink %></div>
                <div class="w-1/5 flex justify-end hover:cursor-pointer hover:scale-110" onclick="copyText('googleMapLink')">
                  <img class="h-7 w-7 mt-1" src="images/copy.png" alt="">
                </div>
              </div>
              </div>
            </div>


          </div>
        </div>


        <!-- image  -->
        <div class="box mt-9 justify-between items-center">
          <div class="boxHead center text-3xl shadow text-green-500">Images</div>
          <div class="boxContent center gap-2">
            <div
              class="h-[100px] w-[100px] rounded-full hover:bg-gray-300 center"
              onclick="changeImage('back')"
            >
              <img class="h-[70px] w-[70px]" src="images/back.png" alt="">
            </div>
            <div class="h-[500px] w-[1000px] bg-black center relative py-5">
              <!-- Here the image will dynamically update -->
              <img id="displayImage" class="h-[100%] overflow-hidden" src="/<%= postInfo.roomImages[0] %>" alt="">
              <div class="bg-gray-800 rounded-full h-[50px] w-[50px] center absolute bottom-5 right-5 hover:bg-gray-600 hover:scale-110 hover:cursor-pointer" onclick="fullScreen()"><img class="invert h-10 w-10 " src="images/full-screen.png" alt=""></div>
            </div>
            <div
              class="h-[100px] w-[100px] rounded-full hover:bg-gray-300 center"
              onclick="changeImage('next')"
            >
              <img class="h-[70px] w-[70px]" src="images/next.png" alt="">
            </div>
          </div>
          <div class="imageCount center flex-col h-10 my-5">
            <div id="currentImageIndex">1/<%= postInfo.roomImages.length %></div>
            <div>Total Images: <%= postInfo.roomImages.length %></div>
          </div>
        </div>
        

        <!-- showing full screen picture after clicking -->
        <div class="h-[100vh] w-[100vw] p-10 bg-gray-950 fixed top-0 left-0 z-[1000] center transition-all duration-500 ease-out makeUnvisible makeVisible" id="fullScreen">
          <div class="bg-gray-800 rounded-full h-[50px] w-[50px] center absolute top-7 right-14 hover:cursor-pointer hover:scale-110 hover:bg-gray-600" onclick="cancelFullScreen()"><img class="invert h-10 w-10 " src="images/cancel.png" alt=""></div>


          <img id="displayFullScreenImage" class="h-[100%] overflow-hidden" src="/<%= postInfo.roomImages[0] %>" alt="">
        </div>



        <!-- facilities -->
        <div class="box mt-9">
          <div class="boxHead center text-3xl shadow text-green-500">Facilities Available</div>
          <div class="boxContent">
            <% postInfo.facilities.forEach((element)=>{ %>

              <div class="contentBoxSmaller border center">
                <div class="h-1/1 w-1/3 center"><img class="h-[50px] w-[50px]" src="images/checkmark.png" alt=""></div>
                <div class="h-1/1 w-2/3 text-3xl">
                  <%= element %>
                </div>
              </div>

            <% }) %>

          </div>
        </div>

        <!-- post man info  -->
        <div class="box mt-9 mb-10">
          <div class="boxHead center text-3xl shadow text-green-500">Contact</div>
          <div class="boxContent">
            <div class="contentBoxSmaller border flex">
              <div class="h-1/1 w-1/3 center"><img class="h-[70px] w-[70px]" src="images/user.png" alt=""></div>
              <div class="h-1/1 w-2/3">
                <div
                class="h-[60%] text-[#616161] text-2xl flex items-center pl-5 md:h-[60%] md:text-[#616161] md:text-2xl md:flex md:items-center md:pl-5"
              >
                Posted by
              </div>
              <div
                class="h-[40%] text-black text-3xl flex pl-5 md:h-[40%] md:text-black md:text-3xl md:flex md:pl-5"
              >
                <%= student.firstName %> <%= student.lastName %>
              </div>
              </div>
            </div>

            <div class="contentBoxSmaller border flex">
              <div class="h-1/1 w-1/3 center"><img class="h-[70px] w-[70px]" src="images/user.png" alt=""></div>
              <div class="h-1/1 w-2/3">
                <div
                class="h-[60%] text-[#616161] text-2xl flex items-center pl-5 md:h-[60%] md:text-[#616161] md:text-2xl md:flex md:items-center md:pl-5"
              >
                Student Id
              </div>
              <div
                class="h-[40%] text-black text-3xl flex pl-5 md:h-[40%] md:text-black md:text-3xl md:flex md:pl-5"
              >
              <%= student.studentId %>
              </div>
              </div>
            </div>

            <div class="contentBoxSmaller border flex">
              <div class="h-1/1 w-1/3 center"><img class="h-[70px] w-[70px]" src="images/user.png" alt=""></div>
              <div class="h-1/1 w-2/3">
                <div
                class="h-[60%] text-[#616161] text-2xl flex items-center pl-5 md:h-[60%] md:text-[#616161] md:text-2xl md:flex md:items-center md:pl-5"
              >
                Department
              </div>
              <div
                class="h-[40%] text-black text-3xl flex pl-5 md:h-[40%] md:text-black md:text-3xl md:flex md:pl-5"
              >
              <%= student.department %>
              </div>
              </div>
            </div>

            <div class="contentBoxSmaller border flex">
              <div class="h-1/1 w-1/3 center"><img class="h-[70px] w-[70px]" src="images/user.png" alt=""></div>
              <div class="h-1/1 w-2/3">
                <div
                class="h-[60%] text-[#616161] text-2xl flex items-center pl-5 md:h-[60%] md:text-[#616161] md:text-2xl md:flex md:items-center md:pl-5"
              >
                Email Account
              </div>
              <div
                class="h-[40%] text-black text-3xl flex justify-between  pl-5 md:h-[40%] md:text-black md:text-3xl md:flex md:pl-5 pr-5"
              >
                <div class="w-4/5" id="copyEmailId">
                  <%= student.email %>
                </div>
                <div class="w-1/5 flex justify-end hover:cursor-pointer hover:scale-110" onclick="copyText('emailId')">
                  <img class="h-7 w-7 mt-1" src="images/copy.png" alt="">
                </div>
              </div>
              </div>
            </div>

            <div class="contentBoxSmaller border flex">
              <div class="h-1/1 w-1/3 center"><img class="h-[70px] w-[70px]" src="images/user.png" alt=""></div>
              <div class="h-1/1 w-2/3">
                <div
                class="h-[60%] text-[#616161] text-2xl flex items-center pl-5 md:h-[60%] md:text-[#616161] md:text-2xl md:flex md:items-center md:pl-5"
              >
                Gender
              </div>
              <div
                class="h-[40%] text-black text-3xl flex pl-5 md:h-[40%] md:text-black md:text-3xl md:flex md:pl-5"
              >
              <%= student.gender %>
              </div>
              </div>
            </div>

            <div class="contentBoxSmaller border flex flex-wrap">
              <div class="h-1/1 w-1/3 center"><img class="h-[70px] w-[70px]" src="images/user.png" alt=""></div>
              <div class="h-1/1 w-2/3">
                <div
                class="h-[60%] text-[#616161] text-2xl flex items-center pl-5 md:h-[60%] md:text-[#616161] md:text-2xl md:flex md:items-center md:pl-5"
              >
                Phone Number
              </div>
              <div
                class="h-[40%] text-black text-3xl flex justify-between  pl-5 md:h-[40%] md:text-black md:text-3xl md:flex md:pl-5 pr-5"
              >
                <div class="w-4/5" id="copyPhoneNumber"><%=student.phone%></div>
                <div class="w-1/5 flex justify-end hover:cursor-pointer hover:scale-110" onclick="copyText('phoneNumber')">
                  <img class="h-7 w-7 mt-1" src="images/copy.png" alt="">
                </div>
              </div>
            
              </div>
            </div>
          </div>
        </div>

      </div>
      </div>
    </div>
    <script>
      const roomImages = <%- JSON.stringify(postInfo.roomImages) %>;
    </script>
    <script src="\javaScriptFiles\sideNavBarShow.js"></script>
    <script src="\javaScriptFiles\confirmPage.js"></script>
    <script src="\javaScriptFiles\savePost.js"></script>
  </body>
  <%- include("layout/footer.ejs") %>
</html>
