<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Notification</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="sideNavBar.css" />
    <link rel="stylesheet" href="headerNavBar.css" />
    <link rel="stylesheet" href="homePage.css" />
    <link rel="stylesheet" href="profile.css" />
    <link rel="stylesheet" href="notification.css" />
    <link href="output.css" rel="stylesheet" />
    <link rel="stylesheet" href="footer.css" />
  </head>

  <body>
    <!-- header nav bar -->
    <%- include("layout/headerNavBar") %> <%- include("layout/sideNavBar") %>
    <div class="contentBox">
      <div class="min-h-[100vh] max-h-fit w-full p-3 bg-[#EEEEEE]">
        <!-- if student have no notification  -->
        <% if(!notifications){ %>
        <div
          class="w-full min-h-[80vh] flex flex-col justify-center items-center"
        >
          <div>
            <img
              class="h-[300px] w-[300px]"
              src="images\no-notification.png"
              alt=""
            />
          </div>
          <div class="font-bold text-6xl">You have no notification.</div>
          <div>
            Back to the
            <a class="text-yellow-700" href="/homePageToLet">home</a> page.
          </div>
        </div>
        <% } else { %>
        <!--If user have Notification -->
        <% notifications.forEach(element =>{ %> <% if (element.notificationType
        && element.notificationType === "Request") { %>
        <div class="notificationRequestBox">
          <div class="requestBoxTexts">
            <div class="RequestBoxDate">
              Requested on : <% const date = new Date(element.date); const
              dateString = date.toDateString(); %> <%= dateString %>
            </div>
            <div class="RequestBoxText">
              <%= element.notificationFromUser.firstName %>
              <%=element.notificationFromUser.lastName %> is requesting you from
              <%= element.notificationFrom %> for the post “<%=
              element.notificationFromPost.title %>”.
            </div>
            <div class="RequestBoxContactInfo">
              <div><i class="fa-regular fa-address-book"></i></div>
              <div class="areas">
                Id : <%= element.notificationFromUser.studentId %>
              </div>
              <div class="areas">
                Dept of <%= element.notificationFromUser.department %>
              </div>
              <div class="areas">
                Phone : <%= element.notificationFromUser.phone %>
              </div>
              <div class="areas">
                Email : <%= element.notificationFromUser.email %>
              </div>
            </div>
          </div>
          <div class="">
            <div class="btn btn-default">View Post</div>
            <div
              class="btn btn-default"
              onclick="deleteThisNotification('<%= element.notificationId %>')"
            >
              Delete
            </div>
            <div
              class="btn btn-default"
              id="confirmRequestSeatButton<%=element.notificationFromPost._id %>"
              onclick="confirmRequestSent(
              'Response',
              '<%= element.notificationFrom %>',
              '<%= student._id %>',
              '<%= element.notificationFromUser._id %>',
              '<%= element.notificationFromPost._id %>')"
            >
              Confirm
            </div>
          </div>
        </div>
        <% } else if (element.notificationType === "Response") { %>
        <div class="notificationRequestBox">
          <div class="requestBoxTexts">
            <div class="RequestBoxDate bg-green-200 px-1">
              Responsed on : <% const date = new Date(element.date); const
              dateString = date.toDateString(); %> <%= dateString %>
            </div>
            <div class="RequestBoxText">
              <%= element.notificationFromUser.firstName %>
              <%=element.notificationFromUser.lastName %> has responsed you from
              <%= element.notificationFrom %> for the post “<%=
              element.notificationFromPost.title %>”. Now you can contact using
              below contact informations.
            </div>
            <div class="RequestBoxContactInfo">
              <div><i class="fa-regular fa-address-book"></i></div>
              <div class="areas">
                Id : <%= element.notificationFromUser.studentId %>
              </div>
              <div class="areas">
                Dept of <%= element.notificationFromUser.department %>
              </div>
              <div class="areas">
                Phone : <%= element.notificationFromUser.phone %>
              </div>
              <div class="areas">
                Email : <%= element.notificationFromUser.email %>
              </div>
            </div>
          </div>
        </div>
        <% } else { %>
        <!-- Unknown notification type -->
        <p>Unknown notification type: <%= element.notificationType %></p>
        <% } %> <% }); %>
        <!-- end of if else  -->
        <% }; %>
      </div>
    </div>
    <script src="\javaScriptFiles\sideNavBarShow.js"></script>
    <script src="\javaScriptFiles\notification.js"></script>
    <script src="\javaScriptFiles\savePost.js"></script>
  </body>
  <%- include("layout/footer.ejs") %>
</html>
