<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="sideNavBar.css" />
    <link rel="stylesheet" href="headerNavBar.css" />
    <link rel="stylesheet" href="homePage.css" />
    <link rel="stylesheet" href="profile.css" />
    <link href="output.css" rel="stylesheet" />
    <link rel="stylesheet" href="footer.css" />
  </head>

  <body>
    <!-- header nav bar -->
    <%- include("layout/headerNavBar") %> <%- include("layout/sideNavBar") %>
    <div class="contentBox">
      <div
        class="bg-[#EFEFEF] flex items-center flex-col md:bg-[#EFEFEF] md:flex md:items-center md:flex-col"
      >
        <!-- user info  -->
        <div
          class="w-[100%] h-[390px] flex md:w-[100%] md:h-[390px] md:flex relative bg-cover bg-center"
          style="background-image: url('images/GreenUniversityImage.jpg')"
        >
          <!-- user info part  -->
          <div class="w-[30%] h-[100%] center md:w-[30%] md:h-[100%] md:center">
            <div class="profileImageBox">
              <div class="profileImage">
                <img class="h-fit" src="images/user.png" alt="" />
              </div>
              <div class="profileName">
                <%= student.firstName %> <%= student.lastName %>
              </div>
              <div class="hover:text-blue-500 hover:cursor-pointer">
                <i class="fa-solid fa-user-pen"></i> Update Info
              </div>
            </div>
          </div>
          <div
            class="w-[70%] flex flex-col flex-wrap justify-center items-center gap-5"
          >
            <div class="userInfo">
              <div
                class="h-[60%] text-[#616161] text-3xl flex items-center pl-5 md:h-[60%] md:text-[#616161] md:text-3xl md:flex md:items-center md:pl-5"
              >
                Student Id
              </div>
              <div
                class="h-[40%] text-black text-4xl flex pl-5 md:h-[40%] md:text-black md:text-4xl md:flex md:pl-5"
              >
                <%= student.studentId %>
              </div>
            </div>
            <div class="userInfo">
              <div
                class="h-[60%] text-[#616161] text-3xl flex items-center pl-5 md:h-[60%] md:text-[#616161] md:text-3xl md:flex md:items-center md:pl-5"
              >
                Department of
              </div>
              <div
                class="h-[40%] text-black text-4xl flex pl-5 md:h-[40%] md:text-black md:text-4xl md:flex md:pl-5"
              >
                <%= student.department %>
              </div>
            </div>
            <div class="userInfo">
              <div
                class="h-[60%] text-[#616161] text-3xl flex items-center pl-5 md:h-[60%] md:text-[#616161] md:text-3xl md:flex md:items-center md:pl-5"
              >
                Gender
              </div>
              <div
                class="h-[40%] text-black text-4xl flex pl-5 md:h-[40%] md:text-black md:text-4xl md:flex md:pl-5"
              >
                <%= student.gender %>
              </div>
            </div>

            <div class="userInfo">
              <div
                class="h-[60%] text-[#616161] text-3xl flex items-center pl-5 md:h-[60%] md:text-[#616161] md:text-3xl md:flex md:items-center md:pl-5"
              >
                Email Account
              </div>
              <div
                class="h-[40%] text-black text-4xl flex pl-5 md:h-[40%] md:text-black md:text-4xl md:flex md:pl-5 md:overflow-hidden"
              >
                <%= student.email %>
              </div>
            </div>

            <div class="userInfo">
              <div
                class="h-[60%] text-[#616161] text-3xl flex items-center pl-5 md:h-[60%] md:text-[#616161] md:text-3xl md:flex md:items-center md:pl-5"
              >
                Phone
              </div>
              <div
                class="h-[40%] text-black text-4xl flex pl-5 md:h-[40%] md:text-black md:text-4xl md:flex md:pl-5"
              >
                <%= student.phone %>
              </div>
            </div>

            <div class="userInfo">
              <div
                class="h-[60%] text-[#616161] text-3xl flex items-center pl-5 md:h-[60%] md:text-[#616161] md:text-3xl md:flex md:items-center md:pl-5 md:overflow-hidden"
              >
                Registration Date
              </div>
              <div
                class="md:h-[30%] md:w-[60%] text-black text-4xl flex pl-5 md:h-[40%] md:text-black md:text-4xl md:flex md:pl-5 md:overflow-hidden"
              >
                <% const date = new Date(student.registrationDate); const
                dateString = date.toDateString(); %> <%= dateString %>
              </div>
            </div>
          </div>
        </div>

        <!-- buttons -->
        <div
          class="w-[98%] h-[60px] bg-white rounded-2xl flex items-center justify-start mt-5 pl-2 gap-3 md:w-[98%] md:h-[60px] md:rounded-2xl md:flex md:items-center md:justify-start md:pl-3 md:gap-3"
          id="profile-box2"
        >
          <button
            id="savedPostsBtn"
            class="btn btn-lg btn-default"
            onclick="fetchSeats('savedPostsBtn')"
          >
            Saved Posts
          </button>
          <button
            id="myPostBtn"
            class="btn btn-default btn-lg"
            onclick="fetchSeats('myPostBtn')"
          >
            My Post
          </button>
          <button
            id="myAchievementBtn"
            class="btn btn-default btn-lg"
            onclick="fetchSeats('myAchievementBtn')"
          >
            Request Sented
          </button>
        </div>

        <div
          class="w-[98%] h-[50px] bg-white rounded-2xl mt-2 flex items-center justify-end pr-3 gap-3 md:w-[98%] md:h-[50px] md:rounded-2xl md:flex md:items-center md:justify-end md:pr-3 md:gap-3"
        >
          <button
            id="toletBtn"
            class="btn btn-default btn-md btn-success"
            onclick="fetchSeats('toletBtn')"
          >
            To-let
          </button>

          <button
            id="lostFoundBtn"
            class="btn btn-default btn-md"
            onclick="fetchSeats('lostFoundBtn')"
          >
            Lost & Found
          </button>

          <button
            id="buySellBtn"
            class="btn btn-md btn-default"
            onclick="fetchSeats('buySellBtn')"
          >
            Buy & Sell
          </button>
        </div>

        <!-- here post will appear -->
        <div class="w-[98%] h-fit py-5 flex gap-3" id="postsContainer">
          <% if(fetchedPosts){ %> <% fetchedPosts.forEach((post)=>{ %>
          <!-- your post card HTML -->
          <% }) %> <% } else { %>
          <h2>Please select button to see results.</h2>
          <% } %>
        </div>
      </div>
    </div>
    <script src="\javaScriptFiles\sideNavBarShow.js"></script>
    <script src="\javaScriptFiles\basicEvents.js"></script>
  </body>
  <%- include("layout/footer.ejs") %>
</html>
